{{ partial "head.html" . }}
{{ if eq .Site.Params.fullWidth true }}
<div class="content_full_width content container">
{{ else }}
<div class="content container">
{{ end }}
  <div class="post">
    <h1 class="post-title">{{ .Title }}</h1>
    {{ partial "post_meta.html" . }}
    {{ .Content }}

<hr />
<div>
        {{ with .PrevInSection }}
          <i class="fa fa-long-arrow-left" aria-hidden="true"></i><a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
	{{ if and (.PrevInSection) (.NextInSection) }}
	<span>&nbsp;|&nbsp</span>
	{{ end }}
        {{ with .NextInSection }}
          <a class="next" href="{{.Permalink}}">{{.Title}} </a><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        {{ end }}
    </div>
  </div>
  {{ if .Site.Config.Services.Disqus.Shortname }}<div id="disqus_thread"></div>{{ end }}
</div>

{{ partial "disqus_count.html" . }}

{{ template "_internal/disqus.html" . }}

{{ partial "foot.html" . }}
