{{ partial "head.html" . }}
<div class="content container">
  <div class="post">
    <h1 class="post-title">{{ .Title }}</h1>
    <span class="post-date">{{ .Date.Format "Jan 2, 2006" }}{{ if not .Site.Params.hideReadingTime }} &middot; {{ .ReadingTime }} minute read{{ end }}{{ if .Site.DisqusShortname }} &middot; <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }}
	{{ partial "taxonomyLinks.html" (dict "context" . "separator" "newline") }}
 </span>
    {{ .Content }}

<hr />
<div>
        {{ with .PrevInSection }}
          <i class="fa fa-long-arrow-left" aria-hidden="true"></i><a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
	{{ if and (.PrevInSection) (.NextInSection) }}
	<span>&nbsp;|&nbsp</span>
	{{ end }}
        {{ with .NextInSection }}
          <a class="next" href="{{.Permalink}}">{{.Title}} </a><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        {{ end }}
    </div>
  </div>
  {{ if .Site.DisqusShortname }}<div id="disqus_thread"></div>{{ end }}
</div>

{{ partial "disqus_count.html" . }}

{{ template "_internal/disqus.html" . }}

{{ partial "foot.html" . }}
